body {
    font-family: 'poppins', sans-serif;
    padding: 50px 20px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 {
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
  }
  
  input[type="file"] {
    padding: 12px;
    border: none;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
  }
  
  input[type="file"]::file-selector-button {
    padding: 10px 16px;
    background-color: #ffb400;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  input[type="file"]:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  canvas {
    margin-top: 20px;
    border-radius: 10px;
    background: #121212;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    max-width: 20%;
    height: auto;
  }
  
  button {
    margin-top: 0px;
    padding: 10px 70px;
    background: linear-gradient(90deg, #ffb400, #ff9933);
    border: none;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.4s ease;
  }
  
  button:hover {
    background: linear-gradient(90deg, #77ff33, #103f00);
  }
  

  .logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
